<!--cart.ejs-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Cart</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <%- include('partials/header') %>
    <!-- Include the header partial -->

    <main>
      <h1>Your Cart</h1>

      <% if (cart.length===0) { %>
        <p>Your cart is empty.</p>
        <% } else { %>
          <ul>
            <% cart.forEach(item=> { %>
              <form class="product">
                <%= item.name %> 
                  <br />
                  <img src="<%= item.image_path %>" alt="<%= item.name %>" width="50" /> 
                  <br />
                  <!-- display path for debugging if u want-->
                  Quantity:
                  <input type="number" id="quantity-<%= item.productId %>" value="<%= item.quantity %>" min="1" />
                  <button class="update-cart" data-product-id="<%= item.productId %>">
                    Update
                  </button>
                  <br />
                  Price per item: $<%= parseFloat(item.price).toFixed(2) %> <br />
                    <button class="remove-from-cart" data-product-id="<%= item.productId %>">
                      Remove All
                    </button>
              </form>
              <% }) %>
          </ul>
          <p>Total $<%= totalPrice ? totalPrice.toFixed(2) : 0 %>
          </p>

          <!--** checkoutbutton-->
          <button class="checkout-cart">Proceed to Checkout</button>

          <button class="clear-cart">Clear Cart</button>
          <% } %>

            <a href="/shop">Go to Shop</a>
    </main>

    <script src="/javascript/cart.js"></script>
    <script src="/javascript/auth/authtokenverify.js"></script>
</body>

</html>